@model CapTheViewModel
@{
    ViewData["Title"] = "Thêm Cấp Thẻ";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm Mới</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Danh Sách Cấp Thẻ</a></li>
                    <li class="breadcrumb-item active">Thêm Mới Cấp Thẻ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm Mới Cấp Thẻ</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form method="post" autocomplete="off" enctype="multipart/form-data">
                <div class="p-4 border rounded">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-2">
                            <label> Cấp cho chi nhánh</label>
                        </div>
                        <div class="col-4">
                            @if (ViewBag.MaCN == null)
                            {
                                <select asp-for="CapThe.MaCN" class="form-control border-input ddlChiNhanh"
                                        asp-items="@(new SelectList(Model.ChiNhanhs,"MaCN","MaCN"))">
                                </select>
                            }
                            else
                            {
                                <select asp-for="CapThe.MaCN" class="form-control border-input ddlChiNhanh"
                                        asp-items="@(new SelectList(Model.ChiNhanhs,"MaCN","MaCN", ViewBag.MaCN))">
                                </select>
                            }

                            <span class="text-danger" asp-validation-for="CapThe.MaCN"></span>
                        </div>

                        <div class="col-2">
                            <label asp-for="CapThe.VanPhongId"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="CapThe.VanPhongId" class="form-control border-input ddlVanPhong"
                                    asp-items="@(new SelectList(Model.VanPhongs,"Id","Name"))">
                            </select>
                            <span class="text-danger" asp-validation-for="CapThe.VanPhongId"></span>
                        </div>

                    </div>



                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="CapThe.NguoiNhan"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="CapThe.NguoiNhan" class="form-control border-input ddlNguoiNhan"
                                    asp-items="@(new SelectList(Model.Users,"HoTen","HoTen"))">
                            </select>
                            <span class="text-danger" asp-validation-for="CapThe.NguoiNhan"></span>
                        </div>

                        <div class="col-2">
                            <label asp-for="CapThe.Httt"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="CapThe.Httt" class="form-control border-input ddlHTTT"
                                    asp-items="@(new SelectList(Model.HTTTs,"TenHT","TenHT"))">
                            </select>
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="CapThe.GhiChu"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="CapThe.GhiChu" class="form-control" />
                            <span class="text-danger" asp-validation-for="CapThe.GhiChu"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">

                        <div class="col-2">
                            <label asp-for="CapThe.GhiChu"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="CapThe.GhiChu" class="form-control" />
                            <span class="text-danger" asp-validation-for="CapThe.GhiChu"></span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
                    </div>

                </div>

            </form>
            <form>
                <input id="hidMaCN" type="hidden" name="maCN" />
                <input type="submit" hidden formaction="/CapThes/Create" formmethod="get" id="hidSubmit" />
            </form>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/Admin/CapThe/createController.js"></script>
    }

}



