@model CapTheViewModel
@{
    ViewData["Title"] = "PdfReport";
    Layout = null;
    int i = 1;
}

<table class="topics" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;" width="100%">
    <tr>
        <td>
            <table class="topics" style="position: inherit; top: 0; bottom: 0; left: 0; right: 0;" width="100%">
                <tr style="height: 25%;">
                    <td width="50%">
                        <div style="text-align:center; font-weight:bold"> CÔNG TY TNHH MỘT THÀNH VIÊN  <br />  DỊCH VỤ LỮ HÀNH SAIGONTOURIST </div>

                    </td>
                    <td width="50%">
                        <div style="text-align:center; font-weight:bold"> CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM  <br />  Độc lập - Tự do - Hạnh phúc </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="        position: inherit;
        width: 33%;
        float: left
"> &nbsp;</div>
                        <div style="position: inherit; width: 33%; float: left; text-align: center">
                            BIÊN BẢN BÀN GIAO <br /> Về việc: bàn giao thẻ Coupon/Voucher
                        </div>
                        <div style="position: inherit; width: 34%; float: right; text-align: center">
                            <span><strong>Số: </strong> @Model.CapThe.MaCapThe</span>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Người lập: </b><span>@Model.CapThe.NguoiCap</span>
                    </td>
                    <td>
                        <b>Ngày cấp: </b><span>@Model.CapThe.NgayCap</span>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <b>Nội dung: </b><span>Bàn giao thẻ Coupon/Voucher cho chi nhánh @Model.CapThe.MaCN, văn phòng @Model.CapThe.VanPhong.Name</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Người nhận: </b><span>@Model.CapThe.NguoiNhan</span>
                    </td>
                    <td>
                        <div style="position: inherit; width: 50%; float: left; text-align: center">
                            <b>Số lượng: </b><span>@Model.CapThe.TongSoLuong</span>
                        </div>
                        <div style="position: inherit; width: 50%; float: right; text-align: center">
                            <b>HTTT : </b><span>@Model.CapThe.Httt</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table id="customers" style="text-align:center; position: inherit; top: 0; bottom: 0; left: 0; right: 0;" width="100%">
                            <tr>
                                <th>Số TT</th>
                                <th>Từ số seri</th>
                                <th>Đến số seri</th>
                                <th>Mệnh giá </th>
                                <th>Số lượng  </th>

                            </tr>

                            @foreach (var item in Model.ChiTietCapThes)
                            {
                                <tr>
                                    <td> @i</td>
                                    <td> @item.SoSeriTu</td>
                                    <td> @item.SoSeriDen</td>
                                    <td> @item.MenhGia.Value.ToString("N0")</td>
                                    <td> @item.CapThe.TongSoLuong</td>
                                </tr>
                                i++;
                            }
                            <tr>
                                <td colspan="5">
                                    Tổng giá trị: @Model.TongTien
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <b>Bằng chữ: </b> @Model.TienBangChu
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td>
                        Bên nhận <br /><br /><br /><br /><br />
                        @Model.CapThe.NguoiNhan
                    </td>
                    <td>
                        Bên giao <br /><br /><br /><br /><br />
                        @Model.CapThe.NguoiCap

                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br /><br />
            <table class="topics" style="position:inherit; top: 0; bottom: 0; left: 0; right: 0;" width="100%">
                <tr style="height: 25%;">
                    <td width="50%">
                        <div style="text-align:center; font-weight:bold"> CÔNG TY TNHH MỘT THÀNH VIÊN  <br />  DỊCH VỤ LỮ HÀNH SAIGONTOURIST </div>

                    </td>
                    <td width="50%">
                        <div style="text-align:center; font-weight:bold"> CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM  <br />  Độc lập - Tự do - Hạnh phúc </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="        position: inherit;
        width: 33%;
        float: left
"> &nbsp;</div>
                        <div style="position: inherit; width: 33%; float: left; text-align: center">
                            BIÊN BẢN BÀN GIAO <br /> Về việc: bàn giao thẻ Coupon/Voucher
                        </div>
                        <div style="position: inherit; width: 34%; float: right; text-align: center">
                            <span><strong>Số: </strong> @Model.CapThe.MaCapThe</span>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Người lập: </b><span>@Model.CapThe.NguoiCap</span>
                    </td>
                    <td>
                        <b>Ngày cấp: </b><span>@Model.CapThe.NgayCap</span>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <b>Nội dung: </b><span>Bàn giao thẻ Coupon/Voucher cho chi nhánh @Model.CapThe.MaCN, văn phòng @Model.CapThe.VanPhong.Name</span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Người nhận: </b><span>@Model.CapThe.NguoiNhan</span>
                    </td>
                    <td>
                        <div style="position: inherit; width: 50%; float: left; text-align: center">
                            <b>Số lượng: </b><span>@Model.CapThe.TongSoLuong</span>
                        </div>
                        <div style="position: inherit; width: 50%; float: right; text-align: center">
                            <b>HTTT : </b><span>@Model.CapThe.Httt</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table id="customers" style="text-align:center; position: inherit; top: 0; bottom: 0; left: 0; right: 0;" width="100%">
                            <tr>
                                <th>Số TT</th>
                                <th>Từ số seri</th>
                                <th>Đến số seri</th>
                                <th>Mệnh giá </th>
                                <th>Số lượng  </th>

                            </tr>

                            @foreach (var item in Model.ChiTietCapThes)
                            {
                                <tr>
                                    <td> @i</td>
                                    <td> @item.SoSeriTu</td>
                                    <td> @item.SoSeriDen</td>
                                    <td> @item.MenhGia.Value.ToString("N0")</td>
                                    <td> @item.CapThe.TongSoLuong</td>
                                </tr>
                                i++;
                            }
                            <tr>
                                <td colspan="5">
                                    Tổng giá trị: @Model.TongTien
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <b>Bằng chữ: </b> @Model.TienBangChu
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td>
                        Bên nhận <br /><br /><br /><br /><br />
                        @Model.CapThe.NguoiNhan
                    </td>
                    <td>
                        Bên giao <br /><br /><br /><br /><br />
                        @Model.CapThe.NguoiCap

                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>


<style>
    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .topics tr {
        line-height: 24px;
    }
</style>
